PORT=3001
CLIENT_ORIGIN=http://127.0.0.1:5173
YANDEX_MUSIC_TOKEN=
YANDEX_MUSIC_USE_DEMO=false
YANDEX_MUSIC_ALLOW_FULL_TRACK_FALLBACK=false
AUDIO_CACHE_MAX_BYTES=8000000
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
